*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html{
  font-size: 18px;
}
body{
  font-family: 'Outfit', sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: var(--clr-main-bg);
}
:root {
--radius:0.85;
--clr-Soft-blue: hsl(215, 51%, 70%);
--clr-Cyan: hsl(178, 100%, 50%);
--clr-main-bg: hsl(217, 54%, 11%);
--clr-card-bg: hsl(216, 50%, 16%);
--clr-line: hsl(215, 32%, 27%);
--clr-White: hsl(0, 0%, 100%);

}
img{
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}
.card{
  background-color: var(--clr-main-bg);
}
